<?xml version="1.0" encoding="utf-8"?>
<manifest package="onl.deepspace.wgs"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="com.android.vending.BILLING"/>

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/wgs_app_green2_300"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/app_login"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.PortalActivity"
            android:label="@string/title_activity_portal"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activities.SelectChildActivity"
            android:label="@string/title_activity_select_child"
            android:theme="@style/AppTheme">
        </activity>
        <activity android:name=".activities.AboutActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="onl.deepspace.wgs.activities.PortalActivity"/>
        </activity>

        <receiver android:name=".portalupdate.AlarmReceiver"/>
        <receiver
            android:name=".portalupdate.AlarmBootReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.QUICKBOOT_POWERON"/>
            </intent-filter>
        </receiver>

        <service
            android:name=".portalupdate.PortalPullService"
            android:exported="false"/>

        <activity android:name=".activities.FeatureRequestActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="onl.deepspace.wgs.activities.PortalActivity"/>
        </activity>
        <activity android:name=".activities.ChangeColorActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="onl.deepspace.wgs.activities.PortalActivity"/>
        </activity>
    </application>

</manifest>